[submodule "workflow/scripts/transindel"]
	path = workflow/scripts/transindel
	url = https://github.com/cauyrd/transIndel.git
[submodule "workflow/scripts/scanexitron"]
	path = workflow/scripts/scanexitron
	url = https://github.com/riasc/ScanExitron.git
